.blueworld { 
	height: 100px;
	color: #ffffff;
	background-color: #3498db;
	text-align: center;
	margin-bottom: 0px
}


.blueworld h3 {
	font-size:38px;
	font-family: Raleway, serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 0.06em; 
}

.menu {
	background-color: #287fba;
	height: 80px;
}

.homepage {
	text-align: center;
	vertical-align: center;
	margin-left: auto;
	margin-right: auto;
}
.homepage a {
	font-family: Raleway, serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	color:#ffffff;
	font-size: 27px;
	letter-spacing: 0.06em; 
} 

a:hover {
	text-decoration: none;
}
ul {
	list-style-type: none;
    vertical-align: middle;
    text-align: center;
    margin-left: 28%;
    padding: 0px;
    overflow: hidden;
}

li {
    float: left;
    padding: 24px;
}

.jumbotron {
	background-color: #ffffff
}

.hero {
	padding-bottom: 30px;
	
}


.hero h1 {
	font-family: Raleway, serif;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
	font-size: 54px;
	letter-spacing: 0.06em; 
	color: #207dbc;
	text-align: center;
	margin-bottom: -10px;
}

.description {
	font-family: Raleway, serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	font-size: 21px;
	letter-spacing: 0.16em; 
	color: #434242;
	line-height: 10px;
	margin-top: 50px;
}

.bold {
	font-weight: 600;
}

#me {
	padding-left: 20%;
}

#desc {
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	font-size: 17px;
	letter-spacing: 0.16em; 
	color: #434242;
	line-height: initial;
	margin-top: 30px;
}

hr {
	width: 15%;
	border-color: #000000;
	opacity: 0.22;
}

#experience h1{
	font-family: Raleway, serif;
	font-weight: 600;
	-webkit-font-smoothing: antialiased;
	font-size: 54px;
	letter-spacing: 0.06em; 
	color: #207dbc;
	text-align: center;
	margin-bottom: -10px;
}

.exp {
	padding-top: 50px;
	padding-bottom: 30px; 
	background-color: #f3efe0;
	font-family: Raleway, serif;
}

.exp p {
	font-size: 17px;
	letter-spacing: 0.06em;
	font-weight: 400;

}

.exp h2 {
	font-size: 35px;
	font-weight: 400;
}

.col-md-4 {
	width: 30%;
	margin: 15px;
}

.footer {
	color:white;
	font-family: Raleway, serif;
	background-color: #2c3e50;
	height: 200px;
	padding-top: 20px;
}

.floatme {
	float:right;
}
/* Responsive Styling */

@media (max-width: 1199px) {
	ul {
		margin-left: 23%;
	}
}

@media (max-width: 991px) {
	.homepage a {
		font-size: 22px;
	}
	ul {
		margin-left: 20%;
	}
}

@media (max-width: 768px) {
	ul {
		margin-left: 20%;
	}

	.homepage a {
		font-size: 20px;
	}
}